@model IEnumerable<SimpleBlogMVC.Models.Article>
@{
    ViewData["Title"] = "Список статей";
}
<h2>@ViewData["Title"]</h2>
@*<p>
    <a asp-controller="Home" asp-action="Create">Добавить</a>
</p>*@
<table class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Content</th>
        <th>ArticleUrl</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.Title</td>
    <td>@item.Description</td>
    <td>@item.Content</td>
    <td>@item.ArticleUrl</td>
    <td>
        <a asp-controller="Home" asp-action="TestGetPost" asp-route-url="@item.ArticleUrl">CheckPost</a> |
        @*<a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>*@
    </td>
</tr>
    }
</table>